<section data-ng-controller="<%= classifiedPluralName %>Controller" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit <%= humanizedSingularName %></h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <% for (var attributeName in publicAttributes) { var attribute = publicAttributes[attributeName]; if (!isNonEditableAttribute(attribute) && !isOneTimeEditableAttribute(attribute)) {%>
                <div class="form-group">
                    <label class="control-label" for="<%= attributeName %>"><%= _.capitalize(attributeName) %></label>
                    <div class="controls">
                        <% if (attribute.type === 'string') { %>
                        <input type="text" data-ng-model="<%= camelizedSingularName %>.<%= attributeName %>" id="<%= attributeName  %>" class="form-control" placeholder="<%= _.capitalize(attributeName) %>" <%= attribute.required ? 'required' : '' %>>
                        <% } else if (attribute.type === 'number') {%>
                         <input type="number" data-ng-model="<%= camelizedSingularName %>.<%= attributeName %>" id="<%= attributeName  %>" class="form-control" placeholder="<%= _.capitalize(attributeName) %>" <%= attribute.required ? 'required' : '' %> <%= attribute.min ? 'min="' + attribute.min +'"' : '' %><%= attribute.max ? 'max="' + attribute.max +'"' : '' %>>
                        <% } else if (attribute.type === 'boolean') {%>
                        <div class="btn-group">
                            <label class="btn btn-default" id="<%= attributeName %>" data-ng-class="{ active : <%= camelizedSingularName %>.<%= attributeName %> === true }" data-ng-click="<%= camelizedSingularName %>.<%= attributeName  %> = true;" uncheckable>Yes</label>
                            <label class="btn btn-default" id="<%= attributeName %>" data-ng-class="{ active : <%= camelizedSingularName %>.<%= attributeName %> === false }" data-ng-click="<%= camelizedSingularName %>.<%= attributeName  %> = false;" uncheckable>No</label>
                        </div>
                        <% } else if (attribute.type === 'date'){ %>
                        <datepicker ng-model="<%= camelizedSingularName %>.<%= attributeName %>" show-weeks="true" class="well well-sm"></datepicker>
                        <% } %>
                    </div>
                </div>
                <% }} %>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Update">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
